In [26]:
from pathlib import Path
import pandas as pd
Path.cwd()

WindowsPath('D:/MyDesktop/portfolio_workspace/portfolio/python/venvs/da/.venv')

In [27]:
BASE_DIR = Path('pandas')
FILE_DIR = 'UserData.xlsx'
df = pd.read_excel(BASE_DIR / FILE_DIR)
display(df)

  ユーザid  年齢   住所 血液型
0    佐藤  21  大阪府   O
1    斎藤  33  山形県   A
2    鈴木  29  岐阜県  AB
3    田中  35  兵庫県   B

In [23]:
df = pd.read_excel(
    BASE_DIR / FILE_DIR,
    index_col='ユーザid'
)
display(df)

       年齢   住所 血液型
ユーザid
佐藤     21  大阪府   O
斎藤     33  山形県   A
鈴木     29  岐阜県  AB
田中     35  兵庫県   B

In [21]:
# df.loc[[行のカラム],[列のカラム]]
df.loc[[0,1,2],['ユーザid','血液型']]
# printはいらない

  ユーザid 血液型
0    佐藤   O
1    斎藤   A
2    鈴木  AB

In [22]:
df.loc[[0,1,2],:]

  ユーザid  年齢   住所 血液型
0    佐藤  21  大阪府   O
1    斎藤  33  山形県   A
2    鈴木  29  岐阜県  AB

In [25]:
df.loc[:,['住所']]

        住所
ユーザid
佐藤     大阪府
斎藤     山形県
鈴木     岐阜県
田中     兵庫県

In [28]:
#fd.iloc[行のインデックス].[列のインデックス]
df.iloc[[2,3],[1,2]]

   年齢   住所
2  29  岐阜県
3  35  兵庫県

In [32]:
# 特定列の全行を取得するときは以下でもできる
df['血液型']

0     O
1     A
2    AB
3     B
Name: 血液型, dtype: object

In [35]:
df[df['年齢']>=30]

  ユーザid  年齢   住所 血液型
1    斎藤  33  山形県   A
3    田中  35  兵庫県   B

In [37]:
df[(df['年齢']>=30) & (df['血液型']=='A')]

  ユーザid  年齢   住所 血液型
1    斎藤  33  山形県   A

In [38]:
df[(df['年齢']>=30) | (df['住所']!='岐阜県')]

  ユーザid  年齢   住所 血液型
0    佐藤  21  大阪府   O
1    斎藤  33  山形県   A
3    田中  35  兵庫県   B